:root {
    --red: rgb(255, 33, 33);
    --light-red: rgb(255, 150, 150);
    --light-green: rgb(32, 255, 107);
}

html {
    min-height: 100%;
}

body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

/* Header */

.header {
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-bottom: 40px;
    height: 120px;
    flex-shrink: 0;
}

.header h1 {
    letter-spacing: 2px;
    font-size: 40px;
    margin: 0;
    padding-left: 40px;
}

/* Main */

.main {
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    min-height: 70vh;
    flex: 1;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add {
    margin-bottom: 40px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
    word-spacing: 3px;
    padding: 14px 24px;
    transition: 0.15;
}

.add:hover {
    background-color: #dee2e6;
}

.add:active {
    scale: 0.9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

}

/* Book Card */

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: minmax(300px, 1fr);
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    border-radius: 20px;

    font-size: 30px;
    text-align: center;
    gap: 20px;
}

.btn {
    font-size: 20px;
    /* background-color: rgb(230, 230, 230); */
    border-style: none;
    border-radius: 10px;
    padding: 16px 8px;
    transition: 0.15s;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active {
    scale: 0.9;
}

.btn-light-green {
    background-color: var(--light-green);
}

.btn-light-red {
    background-color: var(--light-red);
}

/* Modal */

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    font-size: 24px;
    text-align: center;
    gap: 20px;
}

.add-book-form {
    padding: 20px;
    width: 340px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.error-msg {
    color: var(--red);
    display: none;
    margin: 0;
    padding: 0;
}

.input {
    background-color: #dee2e6;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 16px 18px;
}

.is-read {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkbox {
    scale: 1.5;
}

/* Footer */

.footer {
    color: black;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer p {
    margin: 0;
}

.footer i {
    color: #3b3b3b;
    font-size: 30px;
}

/* MEDIA QUERIES */

@media(max-width: 1200px) {
    .main {
        justify-content: center;
    }
}

@media(max-width: 850px) {
    .main {
        gap: 50px;
    }
}

@media(max-width: 650px) {
    .header h1 {
        font-size: 50px;
    }
}